.ritt-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.ritt-container img {
  vertical-align: middle;
}

.ritt-container .ritt-content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

